
.carousel-detalhe .carousel-indicators{
    margin: 0 0 0 0;
    bottom: -31%;
}

.carousel-detalhe .carousel-indicators [data-bs-target]{
    width: 75%;
    height: auto;
}

.bloco-carousel{
    margin-bottom: 150px;
}