
.carousel-detalhe .carousel-indicators{
    margin: 0 0 0 0;
    bottom: -31%;
}

.carousel-detalhe .carousel-indicators [data-bs-target]{
    width: 75%;
    height: auto;
}

.bloco-carousel{
    margin-bottom: 150px;
}

.detalhe-makita{
    display: flex;
    flex-direction: column;
    gap: 170px;
}

.detalhe-makita form select{
    width: 210px;
    padding: 10px;
    border-radius: 7px;
}

.detalhe-makita form input[type=number]{
    width: 50px;
    border: none;
    border-radius: 7px;
}

.categoria-descricao p {
    font-size: 16px;
}

.categoria-descricao h3 {
    font-size: 24px;
}
@media(max-width: 992px){
    .detalhe-makita{
        gap: 35px;
    }
}
@media(max-width: 470px){
    .bloco-carousel{
        margin-bottom: 110px;
    }
}